

body {
    background-color: #0F0F1A;
    color: #FFF;
}

.song {
    display: flex;
}

.songTitle {
    width: 400px;
}

.songPlayCount {

}

.ActiveSong {
    color: #88F;
    font-weight: 600 !important;
}

.ActiveSong>[tabulator-field="song_name"] {
    font-size: 16px;
}

.tabulator-table {
    color: #FFF;
}

.tabulator-row {
    background: none;
    border: none;

    font-weight: 500;
}

.tabulator-row.tabulator-selectable:hover {
    background-color: #202630;
    border-radius: 6px;
}

.tabulator-row.tabulator-row-even {
    background: none;
    border: none;
}

.tabulator .tabulator-tableholder {
    scrollbar-color: #a4a4a4 #313131;
    scrollbar-width: thin;
}

.tabulator .tabulator-tableholder .tabulator-table {
    background: none;
    color: #FFF;
}

.tabulator-row.tabulator-selected {
    color: red;
}

.tabulator-cell {
    user-select: none; /* FIXME: not working, it still selects */
}

.tabulator-row .tabulator-cell {
    border: none;
}

.tabulator {
    background: none;
}

.tabulator .tabulator-header {
    background: none;
    color: #AAA;
    border: none;
    margin-bottom: 10px;
    font-weight: 500;
}

.tabulator .tabulator-header .tabulator-col {
    background: none;
    border: none;
}

